<!doctype html>
<html>
<head>
<meta charset="utf-8">
 {% block title%}
  {% endblock%}
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css%}

  {% endblock %}
<link href="/static/web_before/css/base.css" rel="stylesheet">
<link href="/static/web_before/css/index.css" rel="stylesheet">
<link href="/static/web_before/css/m.css" rel="stylesheet">

{% block js%}

{% endblock %}
<script src="/static/web_before/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/web_before/js/jquery.easyfader.min.js"></script>
<script src="/static/web_before/js/scrollReveal.js"></script>
<script src="/static/web_before/js/common.js"></script>
<!--[if lt IE 9]>
<script src="/static/web_before/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <!--menu begin-->
  <div class="menu">
    <nav class="nav" id="topnav">
      <h1 class="logo"><a href="{% url 'blog_before:index'%}">LY的博客</a></h1>
      <li><a href="{%url 'blog_before:index'%}">网站首页</a> </li>
      <li><a href="{%url 'blog_before:about'%}">关于我</a> </li>
      <li><a href="{%url 'blog_before:time'%}">时间轴</a> </li>
      <!--search begin-->
      <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
          <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
          <input type="hidden" name="show" value="title" />
          <input type="hidden" name="tempid" value="1" />
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="Submit" value="搜索" />
          <span class="search_ico"></span>
        </form>
      </div>
      <!--search end-->
    </nav>
  </div>
  <!--menu end-->
  <!--mnav begin-->
  <div id="mnav">
    <h2><a href="http://www.yangqq.com" class="mlogo">杨青博客</a><span class="navicon"></span></h2>
    <dl class="list_dl">
      <dt class="list_dt"> <a href="{%url 'blog_before:index'%}">网站首页</a> </dt>
      <dt class="list_dt"> <a href="{%url 'blog_before:about'%}">关于我</a> </dt>

      <dt class="list_dt"> <a href="{%url 'blog_before:time'%}">时间轴</a> </dt>
    </dl>
  </div>
  <!--mnav end-->
</header>
{% block content%}

{% endblock %}

</body>
</html>