{% extends 'web_back/base.html'%}

{%block css%}
<title>异清轩博客管理系统</title>
<link rel="stylesheet" type="text/css" href="/static/web_back/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/web_back/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/web_back/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/web_back/css/login.css">

<link rel="apple-touch-icon-precomposed" href="/static/web_back/images/icon/icon.png">
<link rel="shortcut icon" href="/static/web_back/images/icon/favicon.ico">
{% endblock %}

{%block js%}
<script src="/static/web_back/js/jquery-2.1.4.min.js"></script>
<script src="/static/web_back/js/jquery-1.11.1.min.js"></script>
<script src="/static/web_back/js/admin-scripts.js"></script>
<script src="/static/web_back/js/bootstrap.min.js"></script>
<script src="/static/web_back/js/html5shiv.min.js"></script>
<script src="/static/web_back/js/respond.min.js"></script>
<script src="/static/web_back/js/selectivizr-min.js"></script>
<script src="/static/web_back/lib/ueditor/ueditor.config.js"></script>
<script src="/static/web_back/lib/ueditor/ueditor.all.min.js"> </script>
<script src="/static/web_back/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
{% endblock %}


{%block content%}

{% endblock %}



{%block content2%}

{%endblock%}