<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>异清轩博客管理系统</title>
</head>
<body>
<div >
  <!--<div class="siteIcon"><img src="/static/web_back/images/icon/icon.png" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用异清轩博客管理系统" draggable="false" /></div>-->
  <form action="" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">管理员注册</h2>

    <p><input type="text"  name="username"  placeholder="请输入姓名"  maxlength="10">{{errors.username.0}}</p>

    <p><input type="text"  name="userkname"  placeholder="请输入昵称"  maxlength="18">{{errors.userkname.0}}</p>

    <p><input type="text" name="gender" placeholder="请输入性别" maxlength="18">{{errors.gender.0}}</p>

    <p><input type="text"  name="userage"  placeholder="请输入年龄"  maxlength="18">{{errors.userage.0}}</p>

    <p><input type="password"  name="password1"  placeholder="请输入密码"  maxlength="18">{{errors.password1.0}}</p>

    <p><input type="password"  name="password2"  placeholder="请确认密码"  maxlength="18">{{errors.password2.0}}</p>

    <input type="submit" value="注册">
  </form>
</div>


</body>
</html>